@media (min-width: 1441px) {
  h1 {
    font-size: 3.5rem;
  }
  .box-container {
    flex-wrap: nowrap;
    .card {
      margin-right: 1rem;
    }
  }

  h5 {
    font-weight: 600;
  }
}

@media (max-width: 989px) {
  .box-container {
    justify-content: center !important;
  }
  .card {
    margin-bottom: 2rem;
  }
}

@media (max-width: 320px) {
  h1 {
    font-size: 2rem;
  }
}

section {
  padding: 155px 0;
  border-radius: 17px;
  margin: 0 15px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
}


.card {
  text-align: center;
  border-radius: 25px;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.1);
  padding: 30px 15px;
  max-width: 450px;
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.dark-box {
  background: rgba(255, 255, 255, 0.041);
  transition: 0.3s ease;
}

.light-box {
  background: #f9fafb;
  transition: 0.3s ease;
}