<section class="d-flex">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12 d-flex flex-column mb-4 mb-md-0">
        <h4 class="hero-title" style="font-weight: 500; transition: all 0.2s ease;">ABOUT ME</h4>
        <h1 class="mb-4" style="color: #c99d66;">Turning innovative designs into seamless,<br> high-performance web experiences</h1>
        <p class="mb-5" style="font-size: 1.1rem; color: rgb(162, 162, 162); line-height: 1.6;">
          With a blend of development and design skills, I am passionate about crafting engaging digital experiences.
        </p>
        <div class="row box-container">
          <div class="col-lg-4 box-content">
            <i class='fa fa-code mb-4' style="font-size: 48px;"></i>
            <h5 class="mb-3">WEB DEVELOPMENT</h5>
            <p>2 years of experience in Front End Development specializing in <b>Angular, TypeScript, and jQuery</b>. With <b>SCSS, Bootstrap and Tailwind</b> for seamless adaptability across devices.</p>
          </div>
          <div class="col-lg-4 box-content">
            <i class='fa fa-paint-brush mb-4' style="font-size: 48px;"></i>
            <h5 class="mb-3">GRAPHICS DESIGN</h5>
            <p>4 years of graphic design expertise using <b>Adobe Photoshop, Adobe Illustrator, Canva and Figma</b> to create engaging and visually compelling designs for marketing campaigns.</p>
          </div>
          <div class="col-lg-4 box-content">
            <i class='fa fa-cogs mb-4' style="font-size: 48px;"></i>
            <h5 class="mb-3">WORDPRESS DEVELOPMENT</h5>
            <p>2 years of experience in basic <b>WordPress customization and plugin installations</b>, enabling me to enhance websites with added functionality.</p>
          </div>
        </div>
      </div> 
    </div>
  </div>
</section>
