<section class="hero-container d-flex justify-content-center align-items-center">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 d-flex flex-column justify-content-center mb-4 ">
        <h1 class="hero-title mb-4" style="font-size: 3.5rem; transition: all 0.2s ease;">HI, I'M JONATHAN <br/><span style="color: #c99d66;">FRONT-END DEVELOPER</span></h1>
        <p style="font-weight: 600; color: rgb(162, 162, 162); letter-spacing: 1.3px;">
          I'm a passionate frontend developer who loves building smooth, responsive, and visually appealing web applications.
          With a strong foundation in web technologies and an eye for detail,
          I turn complex ideas into intuitive user interfaces, focusing on performance, usability, and great user experiences.
        </p>
      </div>
      <div class="col-sm-6 d-flex flex-column justify-content-center align-items-center">
        <button class="btn btn-jsa hero-btn mb-3">Download CV <i class="fa fa-download"></i></button>
        <div class="d-flex">
          <button class="btn rounded-circle mr-2" style="background-color: aliceblue !important; color: #000 !important;"><i class="fa fa-linkedin"></i></button>
          <button class="btn rounded-circle mr-2" style="background-color: aliceblue !important; color: #000 !important; padding: 0 14px;"><i class="fa fa-facebook"></i></button>
        </div>
      </div>  
    </div>
  </div>
</section>
