<section class="d-flex">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 d-flex flex-column mb-4 mb-md-0">
        <h4 class="hero-title" style="font-weight: 500; transition: all 0.2s ease;">EXPERIENCE</h4>
        <h1 class="mb-5" style="color: #c99d66;">From Concept to Execution: My Professional Path</h1>
        <div class="job-exp mt-2">
          <span class="exp-date">2023 - Current</span>
          <h2 class="mb-3">Jr. Software Engineer</h2>
          <b class="mb-3">COGNITIF INC.</b>
          <ul>
            <li>Collaborates with team to develop new features and maintain company projects.</li>
            <li>Builds modular and reusable components following Angular’s component-based architecture.</li>
            <li>Uses HttpClientModule to fetch and send data to RESTful APIs.</li>
          </ul>
        </div>
        <div class="job-exp" style="align-items: end;">
          <span class="exp-date">2019 - 2023</span>
          <h2 class="mb-3">Graphics Designer</h2>
          <b class="mb-3">ELFELFELF (Freelance)</b>
          <ul style="display: flex; flex-direction: column; align-items: end;">
            <li>Create and design digital marketing images and videos of products for various online platforms.</li>
            <li>Collaborates with internal teams to create landing pages and optimize user experience.</li>
            <li>Brainstorms new and creative company growth strategies through digital marketing.</li>
          </ul>
        </div>
        <div class="job-exp">
          <span class="exp-date">2017 - 2019</span>
          <h2 class="mb-3">Web Developer</h2>
          <b class="mb-3">Pass Your Task IT Consultancy Service</b>
          <ul>
            <li>Implemented minor UI changes, including theme adjustments, CSS edits, and content updates<br>
              to align with the client’s WordPress website design requirements.</li>
            <li>Coordinates with the internal team to enhance and maintain the company's website.</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>