@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

* {
  font-family: 'Poppins', sans-serif;

  h1, h2, button {
    font-weight: 700 !important;
  }
  
  h5 {
    color: #c99d66;
  }

  p {
    line-height: 1.5em;
  }
}

@media (min-width: 1441px) {
  .container {
      max-width: 1440px !important;
  }
  h5 {
    font-weight: 600;
  }
  h1 {
    font-size: 3.5rem;
  }
}

.dark {
  // background-color: #121920 !important;
  background-color: #02050a;
  color: #fff;
  transition: all 0.2s ease;
}

.dark-secondary {
  background-color: #09101a;
  color: #fff;
  transition: all 0.2s ease;
}

.light-secondary {
  background-color: #f3f3f3;
  transition: all 0.2s ease;
}

.btn-jsa {
  background-color: #c99d66 !important; 
  color: #F5F5F5 !important; 
  padding: 15px 20px !important;
}


.hero-btn {
  width: 175px;
}